/EntryLocalService.java
/EntryLocalServiceUtil.java
/EntryLocalServiceWrapper.java
/EntryService.java
/EntryServiceUtil.java
/EntryServiceWrapper.java
/GuestbookLocalService.java
/GuestbookLocalServiceUtil.java
/GuestbookLocalServiceWrapper.java
/GuestbookService.java
/GuestbookServiceUtil.java
/GuestbookServiceWrapper.java
